<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labyrinth Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Labyrinth Game</h1>

    <div id="grid" class="grid"></div>

    <div class="controls mt-3">
        <button id="up" class="btn btn-light">Up</button><br>
        <button id="left" class="btn btn-primary">Left</button>
        <button id="right" class="btn btn-secondary">Right</button><br>
        <button id="down" class="btn btn-success">Down</button><br>
        <button id="start" class="btn btn-dark mt-2">Start</button>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
